<%- include('partials/header', { title: 'Categories | PAKMCQS' }) %>
<h1>Quiz Categories</h1>
<ul>
    <li>History of Pakistan</li>
    <li>Foreign Policy</li>
    <li>Economy</li>
    <li>Ideology</li>
</ul>
<%- include('partials/footer') %>
